<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Post.Title}} · Blog</title>
    <link rel="icon" href="/static/img/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/img/favicon-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1 class="gradient-text">{{.Post.Title}}</h1>
        <nav class="site-nav">
            <a href="/blog">Blog</a>
            <a href="/">Home</a>
        </nav>
    </header>
    <main>
        <p class="blog-list-date">{{.Post.CreatedAt.Format "January 2, 2006 at 15:04"}}</p>
        <article class="blog-post">
            {{.ContentHTML}}
        </article>
    </main>
</body>
</html>
